@page
@model ST10083941_CLDV6211_POE.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.KilometersTraveled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.KilometersTraveled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ServiceKilometers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ServiceKilometers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BodyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BodyType.BodyDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make.MakeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model.ModelDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
