@page
@model ST10083941_CLDV6211_POE.Pages.Inspectors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].MobileNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inspector) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InspectorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InspectorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InspectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
